.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  font-size: 48px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 72px;
}

.buttons_wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

button {
  padding: 12px 24px;
  background-color: powderblue;
  border: none;
  border-radius: 8px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.1s;
}

button:hover {
  background-color: rgb(145, 215, 224);
}

button:focus {
  outline: 2px solid black;
  outline-offset: 1.5px;
}
